@page "/Purchases"
@using BlazorApp2.Server.Logic
<h3>Customer: @_manager?.Login (@_manager?.Role)</h3>
<div class="col-md-6 m-auto">
    <h3>Create new purchase</h3>
    <table class="table">
        <tr>
            <td>Product</td>
            <td>Count</td>
            <td>Total</td>
        </tr>
        @foreach (var purchaseProduct in _purchase.PurchaseProducts ?? Enumerable.Empty<PurchaseProduct>())
        {
            <tr>
                <td>
                    @purchaseProduct.Product.Name (@purchaseProduct.Product.Price)
                </td>
                <td>
                    <input class="form-control" type="number" min="0" max="100" @bind="@purchaseProduct.Counter"
                           @oninput="@(e => purchaseProduct.Counter = !string.IsNullOrWhiteSpace(e.Value?.ToString()) ? int.Parse(e.Value?.ToString()!) : purchaseProduct.Counter)"/>
                </td>
                <td class="text-end">
                    @(purchaseProduct.Counter * purchaseProduct.Product.Price)
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-primary text-black"
                        @onclick="OnSubmitPurchase">
                    Submit the purchase
                </button>
            </td>
            <td class="text-end">
                @_amount
            </td>
        </tr>
    </table>
    <h3>Purchase history</h3>
    @if (_manager is not null)
    {
        foreach (var purhase in _manager.Purchases)
        {
            <p>Purchase @purhase.Id:</p>
            foreach (var purchaseProduct in purhase.PurchaseProducts)
            {
                <p>@purchaseProduct.Product.Name x @purchaseProduct.Counter = @(purchaseProduct.Product.Price * purchaseProduct.Counter)</p>
            }
            <p>Purchase amount: @CalculateAmount(purhase)</p>
            <button type="button" class="btn btn-primary text-black"
                    @onclick="() => OnDeletePurchase(purhase.Id)">
                Delete the purchase
            </button>
        }
    }
</div>