@model List<Lesson34.DAO.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Info</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Info</td>
                    <td>
                        <a asp-controller="Home" asp-action="EditUser"
                           asp-route-id="@user.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>