@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var data = Context.Session.GetString("data");
    var users = await Repository.GetUsers();
}
<div class="text-center">
    <h1 class="display-4">List users</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">@IndexTableHeaders[0]</th>
                <th scope="col">@IndexTableHeaders[1]</th>
                <th scope="col">@IndexTableHeaders[2]</th>
                <th scope="col">@IndexTableHeaders[3]</th>
                <th scope="col">@IndexTableHeaders[4]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Info</td>
                    <td>
                        <a asp-controller="Home" asp-action="EditUser"
                           asp-route-param="@user.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>